.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 0;
    /* background-color: green; */
}

.box-red {
    height: 400px;
    width: 100%;
    background-color: red;
    display: block;
}

.box-blue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
}

.box1 {
    /* border: 5px solid black; */
}

/* .box1::before {
    position: absolute;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.25);
    top: -9px;
    right: -7px;
    bottom: -8px;
    left: -9px;
    content: "";
} */

.box-border {

}

/* start working border frame code --------------------- */

/* applied directly to img container */

.box1 {
    display: inline-flex;
    border: 25px solid;
    border-width: 11px;
    border-image: url(/images/tv-border.png);
    border-image-slice: 25;
    border-image-outset: 0;
    border-image-width: 18px;
    flex-wrap: wrap;
    position: relative;
}

.box1 img {
    z-index: -1;
    padding: 0;
    width: 100%;
}

/* --------------------- end working border frame code */

.sign_pic {
    display: flex;
    border: 25px solid;
    border-width: 8px;
    border-image: url(/images/tv-border.png);
    border-image-slice: 25 fill;
    border-image-outset: 0;
    border-image-width: 18px;
    flex-wrap: wrap;
    position: relative;
    width: min-content; /*used with flex*/
}

.sign_pic img {
    z-index: -1;
    padding: 0;
    width: 370px;

}