.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 0;
    background-color: green;
}

.box-red {
    height: 400px;
    width: 100%;
    background-color: red;
    display: block;
}

.box-blue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
}

/* .box-border {
    border: 5px solid black;
} */

/* .box1::before {
    position: absolute;
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,.25);
    top: -9px;
    right: -7px;
    bottom: -8px;
    left: -9px;
    content: "";
} */

.box1 {
    border: 25px solid;
    /* -o-border-image: url(/img/cont-frame-tv.png) round; */
    border-image: url(/images/tv-border-cropped.png) round;
    border-image-slice: 25 25;
    width: 100%;
    height: 100%;
    box-shadow: inset 5px 5px 10px black;
}

.box1 img {
    /* display: block;
    width: 100%;
    position: relative;
    z-index: 0; */
    background-image: url(/images/screen-content.png);
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #1d242c;
    background-size: contain;
    margin: -10px -9px -10px -9px;
    position: relative;
    /* z-index: -1;  */
}

.box {

}